# Systemd unit file for tomcat instances.
# 
# To create clones of this service:
# 0. systemctl enable tomcat@name.service
# 1. create catalina.base directory structure in
#    /var/lib/tomcats/name
# 2. profit.

[Unit]
Description=Apache Tomcat Web Application Container
After=network.target
Requires=archiver-appliance.service
Before=archiver-appliance.service
BindsTo=archiver-appliance.service

[Service]
Type=forking
PIDFile={{ epicsarchiverap_tomcats_base }}/%I/temp/catalina.pid
WorkingDirectory=/var/log/tomcat
Environment="CATALINA_HOME={{ epicsarchiverap_tomcat_home }}"
Environment="CATALINA_BASE={{ epicsarchiverap_tomcats_base }}/%I"
ExecStart={{ epicsarchiverap_tomcat_home }}/bin/catalina.sh start
ExecStop={{ epicsarchiverap_tomcat_home }}/bin/catalina.sh stop
User=tomcat
Group=tomcat

[Install]
WantedBy=archiver-appliance.service

