<!-- @begin(main_includes) -->
<script type="text/javascript" src="comm/js/jquery-1.8.2.min.js"></script>
<link type="text/css" href="comm/js/jquery-ui-1.9.1.custom/css/cupertino/jquery-ui-1.9.1.custom.css" rel="Stylesheet" />	
<script type="text/javascript" src="comm/js/jquery-ui-1.9.1.custom/js/jquery-ui-1.9.1.custom.min.js"></script>
<link type="text/css" href="comm/css/main.css" rel="Stylesheet" />
<script type="text/javascript" src="comm/js/common.js"></script>
<!-- @end(main_includes) -->


<!-- @begin(site_header) -->
<div class="pageheader">
<span class="apptitle" id="archiveInstallationTitle">EPICS Archiver Appliance</span>
<span id="siteimages"><a href="https://als.lbl.gov/"><img src="comm/img/7_BL_Vert_547_rgb.png" width="159px" height="100px"></img></a></span>
</div>
<!-- @end(site_header) -->


<!-- @begin(site_contact_text) -->
  <p>The EPICS Archiver Appliance is an implementation of an archiver for <a href="http://www.aps.anl.gov/epics/">EPICS</a> control systems that aims to archive millions of PVs. </p>
<p>This is the Advanced Light Source customized EPICS Archiver Appliance. If one
has any general issues, please contact the ALS Controls Group. And if you have any technical issues on it, please contact at <a href="https://github.com/slacmshankar/epicsarchiverap/issues">the EPICS Archiver Appliance Issues</a> directly. </p>
<!-- @end(site_contact_text) -->


<!-- @begin(site_navbar) -->
<div class="navbar">
<div class="nav">
<ul class="mainmenu">
<li><a href="index.html">Home</a></li>
<li><a href="reports.html">Reports</a></li>
<li><a href="metrics.html">Metrics</a></li>
<li><a href="storage.html">Storage</a></li>
<li><a href="appliance.html">Appliances</a></li>
<li><a href="integration.html">Integration</a></li>
<li><a href="#" id="help">Help</a></li>
</ul>
</div>
</div>
<!-- @end(site_navbar) -->


<!-- @begin(site_footer) -->
<div class="pagefooter">
</div>
<!-- @end(site_footer) -->
